*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0px;
    padding-top: 0;
}

section{
    padding: 2rem 0;

}

a{
    text-decoration: none;
    padding: 32px;
    padding-top: 72px;
    padding-bottom: 72px;
}

img{
    border: 20px solid white;
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit:cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

menu,
ul,
ol,
li{
    margin:0;
    padding: 0;
    text-decoration-style: none;
    list-style-type: none;
}


.boble img{
    border: 1px solid white;
    display: block;
    max-width: 80px;
    aspect-ratio: 1;
    object-fit:cover;
    filter:brightness(1.1) grayscale(1)  ;
    border-radius: 999px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.boble-active img{
    box-shadow: 0px 0px 0px;
    filter:grayscale(0);
}

article{
    width: 100%;
    background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.8) );
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: white;
    padding-right: 64px;
    padding-left: 20%;
    padding-bottom: 24px;
}

img,
article{
    border: solid 0px; 
    border-radius: 0px 0px 64px 64px;   
}



.slide{
    margin-top: -8px;
    display: none;
    position: relative;  
    z-index: -1; 
}

.progression-box{
    
    background-color: rgba(255, 255, 255, 0.3);
}

.progression{
    min-height: 8px;
    background-color: white;
    animation-name: progresso;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes progresso {
    0%  {width:0%}
    100%  {width:100%}
}

.carusel:hover .progression{
   animation-name: reset;
   animation-duration: 3s;
}



.carusel:hover .hide{
    display: block;
}

.title{
    font-size: 4rem;
    padding-bottom: 12px;
}

.text{
    font-size: 1.5rem;
}

.carusel:hover .title{
    padding-bottom: 24px;
   font-size: 2.5rem;
}






.active{
    display:block;
}


.debug{
    border: 2px dashed salmon;
}

i{
    color: white;
    font-size: 32px;
    padding-left: 32px;
    padding-right: 32px; 
}

.btn-custom,
.btn-custom:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: black;
    line-height: 2rem;
}

